<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | brskalnik</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method="get">
        <input type="text" id="ime" name="ime" placeholder="vnesi ime igre...">
        <button type="submit">išči</button>
    </form>
    {% if ime %}
        <p>naslov: </p>{{ ime }}
        <p>datum izdaje</p>{{ datum }}
        <p>ocena igre:</p>{{ ocena }}<p>/5</p>
        <img src="{{ slika }}">
        <p>Opis:</p>
        {{ opis }}
    {% endif %}
</body>
</html>