<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index | brskalnik</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method="get">
        <input type="text" id="ime" name="ime" placeholder="vnesi ime igre...">
        <button type="submit">išči</button>
    </form>
    {% if ime %}
        <h2>naslov: </h2>{{ ime }}
        <h2>datum izdaje: </h2>{{ datum }}
        <h2>ocena igre (0-5): </h2>{{ ocena }}
        <img src="{{ slika }}">
        <h2>Opis: </h2>
        {{ opis }}
    {% endif %}
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Odjava</button>
    </form>
    <form action="{{ url_for('izbira') }}" method="get">
        <button type="submit">Vrni se nazaj</button>
    </form>
</body>
</html>